*{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.firstsection{
    display: flex;
    background-color: #1F2937;
    color: white;
    flex-direction: column;
    gap: 50px;
}

.maintitle{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-left: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.headerbuttons{
    display: flex;
    gap: 30px;
}

.firstsectioncontainer{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}


.firstcontainer{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    gap: 10px;
}

.maintext{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.subtext,
.headerbuttons{
    color: #E5E7EB;
    font-size: 18px;
}

.signup{
    width: 130px;
    height: 40px;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.tarot{
    width: 500px;
    height: auto;
    padding: 25px;
}


.secondsection{
    display: flex;
    flex-direction: column;
    padding: 75px 30px;
}

.secondsectiontitle{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 30px;
}

.tarotreading{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.reading{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}

.thirdsection{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 30px;
}

.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 700px;
}

.from{
    display: flex;
    font-size: 24px;
    font-weight: 400;
    width: 700px;
    justify-content: flex-end;
}

.source{
    padding-left: 9px;
}

.fourthsection{
    display: flex;
    padding: 75px 50px;
    justify-content: center;
}

.bluecontainer{
    display: flex;
    align-items: center;
    background-color: #3882F6;
    padding: 40px;
    border-radius: 10px;
    gap: 50px;
}

.Joincontainer{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 5px;
    padding-left: 75px;
}

.Jointitle{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.Joinsubtext{
    color: white;
}

.footer{
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 35px;
}